html, body {
	height: 100%;
	overflow-x: hidden;
}
#wrapper {
	border: 1px solid #000;
	position: relative;
	vertical-align: top;
	height: 100%;
}

#workoutWrapper {
	width: 800px;
	position: absolute;
	margin-top: 2em;
	left: 20px;
	display: inline-block;
}

#workoutFormWrapper {
	position: relative;
	vertical-align: top;
	width: 250px;
	display: inline-block;
}

#workoutListWrapper {
	position: relative;
	vertical-align: top;
	width: 500px;
	margin-top: 2em;
	margin-left: 2em;
	display: inline-block;
}
#weighWrapper {
	position: absolute;
	text-align: right;
	vertical-align: top;
	width: 800px;
	margin-top: 2em;
	right: -100%;
	display: inline-block;
}

#weighFormWrapper {
	text-align: left;
	right: 0;
	position: relative;
	vertical-align: top;
	width: 250px;
	display: inline-block;
}

#weighChartWrapper {
	text-align: left;
	position: relative;
	vertical-align: top;
	width: 500px;
	margin-top: 2em;
	margin-right: 2em;
	display: inline-block;
}
#addStatusGood {
	margin-left: 1em;
}

#addStatusBad {
	margin-left: 1em;
}




.highlight {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}